.body {
  width: 100vw;
  height: 900px;
  margin-top: 0px;
  background-color: #121212;
  color: #fff;
  /* border: 1px solid cyan; */
  padding: 0px;
}
.header{
  height: 72px;
  /* border: 1px solid orange; */
  margin: 0px;
  background-color: #27272A;
  display: flex;
  justify-content: center;
  align-items: center;
}
.molduraLogo{
  Width: 150px;
  Height: 27.82px;
  border-radius: 8px;
  padding: 6px 20px 6.18px 20px;
  background-color: rgba(218, 218, 218, 0.33);
}

.molduraLogo img{
  width: 150px; 
  /* height: 27.82px ;  */
  /* border: 1px solid red;  */
  object-fit: contain; 
  object-position: 0px -11px;
}

h1{
  width: 791px;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  /* border: 1px solid orange; */
  margin: 0px 0px 35px 0px;
}
.fraseContainer {
  width: 100%;
  margin: 112px 0px 61px 0px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 160%;
  /* or 38px */
  text-align: center;
  color: #FFFFFF;
}

.fraseContainer p {
  /* border: 1px solid yellow; */
  width: 791px;
  height: 76px;
  margin: 0px 0px;
  text-align: center;
}
.sectionTecnologias{
  width: 100%;
  height: auto;
  /* border: 1px solid #9D4B00; */
  display: flex;
  justify-content: center;
}
.tecnologiasContainer {
  background-color: #27272A;
  box-sizing: border-box;
  width: 793px;
  height: 173px;
  background: #27272A;
  border: 1px solid #9D4B00;
  border-radius: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  color: #EDEDED;

}

.lista {
  /* border: 1px solid red; */
  margin: 22px 56px 23px 56px;
  height: 128px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  flex-wrap: wrap;
}

.buttonsContainer{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-top: 253px;
}
.strong{
  font-weight: bold;
}